<!DOCTYPE html>
<html>
<head>
    <title>Add Member</title>
</head>
<body>
    <h2>Add a New Member</h2>
    <form action="/add_member" method="post">
        <label for="id">Member ID:</label><br>
        <input type="text" id="id" name="id" required><br>
        <label for="name">Name:</label><br>
        <input type="text" id="name" name="name" required><br>
        <label for="surname">Surname:</label><br>
        <input type="text" id="surname" name="surname" required><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
